<div>
    <form [formGroup]="userUpdateForm" (ngSubmit)="updateUser()">
        <!--Todo ID tıklandığı userdan gelicek-->
        <div class="mb-3">
            <label class="form-label" for="id">Id</label>
            <input type="text" class="form-control" id="id" formControlName="id" placeholder="Enter Id">
        </div>
        <div class="mb-3">
            <label class="form-label" for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="Enter Username">
        </div>
        <div class="mb-3">
            <label class="form-label" for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Enter LastName">
        </div>
        <div class="mb-3">
            <label class="form-label" for="imageUrl">Image Url</label>
            <input type="text" class="form-control" id="imageUrl" formControlName="imageUrl" placeholder="Enter imageUrl">
        </div>
        <div class="mb-3">
            <label class="form-label" for="imageUrl">Email </label>
            <input type="text" class="form-control" id="email" formControlName="email" placeholder="Enter email">
        </div>
        <div class="mt-3 text-end">
            <button class="btn btn-primary w-sm waves-effect waves-light" type="submit">Update User</button>

        </div>
    </form>
</div>