<div class="d-flex justify-content-around">
    <h3>Users</h3>
    <h3 class="btn btn-primary">Add User</h3>
    <!-- TODO: Convert Button and  change position maybe table can transform to dataTable-->
</div>
<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">First Name </th>
                <th scope="col">Last Name</th>
                <th scope="col">Email </th>
                <th scope="col">Created At </th>
                <th scope="col">Update At </th>
                <th scope="col">Update</th>
                <th scope="col">Delete </th>
            </tr>
        </thead>
        <tbody>
            <tr class="" *ngFor="let user of users">
                <td scope="row">{{user.id}}</td>
                <td><img [src]="user.imageUrl" height="100px" width="100px" alt="" srcset=""></td>
                <td>{{user.firstName}}</td>
                <td scope="row">{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.createdAt}}</td>
                <td>{{user.updatedAt}}</td>
                <td>Button1 Update </td>
                <td>Button2 Delete</td>
            </tr>

        </tbody>
    </table>
</div>

<router-outlet></router-outlet>